{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% set image_uri = file_url(product.field_servicio_imagen.0['#item'].entity.uri.value) %}

<main {{ attributes }}>
  <div class="slide slide--interior slide--servicio{{ product.field_servicio_tipo|render|striptags|trim }}">
    <div class="slide__img" style="background-image:url({{ image_uri }});top left no-repeat;background-size:cover;">
    </div>
    <div class="container">
      <div class="slide__content slide__content--cupon">
        <h1 class="slide__title slide__title--cupon">
          {{ product.title }}
        </h1>
      </div>
    </div>
  </div>
  <div class="section--contenido-producto">
    <div class="container">
      <div class="pack-cupon">
        <a class="close u-display-only-tablet-down">X</a>
        {{ product.variations }}
      </div>
       <a id="button-pack" class="button button--footer u-display-only-tablet-down">Comprar</a>
      <div class="col-lg-6">
        <div class="u-overflow-hidden">
          {% set absolute_url = url('entity.commerce_product.canonical', {'commerce_product': product_entity.id()})  %}
          {% set product_title = product.title|render|striptags|trim  %}
          <div class="list--social-header">
            {% include directory ~ '/templates/includes/share-redes.html.twig' with {'absolute_url' : absolute_url, 'title' : product_title} %}
          </div>
        </div>

        <div class="u-margin-bottom-huge">
          {% if product.field_servicio_entradilla|render %}
            <div class="text__entradilla u-margin-top">
              {{ product.field_servicio_entradilla }}
            </div>
          {% endif %}

          {% if product.body|render %}
            <div class="text__cuerpo u-margin-top">
              {{ product.body }}
            </div>
          {% endif %}

          {% if product.field_servicio_video|render %}
            <div class="u-margin-top">
              {{ product.field_servicio_video }}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>

  {% if product.field_servicio_servicios_relacio|render %}
    <div class="u-background-color-secondary-95 u-padding-top-large u-padding-bottom-large u-zindex-20">
      <div class="container">
        <div class="u-text-center">
          <h2 class="u-font-size-h4 u-background-color-service-{{ product.field_servicio_tipo|render|striptags|trim }} u-uppercase u-font-white u-display-inline">{{ 'También puedes ayudar'|t }}</h2>
        </div>
        <div class="row u-padding-top-large">
          {{ product.field_servicio_servicios_relacio }}
        </div>
      </div>
    </div>
  {% endif %}
</main>
