<div{{ attributes }}>
  <div class="{{ content.field_component_icon_box_list_cl }}">
    <div class="container">
      {% if content.field_component_icon_box_list_ti|render %}
        <p class="u-font-size-h3 u-font-bold u-margin-bottom-medium u-text-center">{{ content.field_component_icon_box_list_ti }}</p>
      {% endif %}
      {% if content.field_component_icon_box_list_su|render %}
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="u-font-size-normal u-margin-bottom-large u-text-center">{{ content.field_component_icon_box_list_su }}</div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        {{ content.field_icon_box }}
      </div>
    </div>
  </div>
</div>
