{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<main {{ attributes }}>
  <div class="container">
    <div class="u-padding-top-large u-padding-bottom-large u-padding-top-huge@tablet u-padding-bottom-huge@tablet u-padding-top-extrahuge@desktop u-padding-bottom-extrahuge@desktop bloque-producto">
      <div class="row">
        <div class="col-md-6">
          <div class="bloque-producto--img">
            {{ product.variation_field_imagen }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="bloque-producto--content">
            {% set absolute_url = url('entity.commerce_product.canonical', {'commerce_product': product_entity.id()})  %}
            {% set product_title = product.title|render|striptags|trim  %}
            <div class="list--social-header">
              {% include directory ~ '/templates/includes/share-redes.html.twig' with {'absolute_url' : absolute_url, 'title' : product_title} %}
            </div>
            <h1 class="u-font-brand u-font-size-h3 u-font-bold u-margin-bottom-medium">
              {{ product.title }}
            </h1>
            <div class="u-margin-bottom-small bloque-producto--precio">
              <span class="u-font-size-h4 u-font-semibold">{{ product.variation_price }}</span>
            </div>
            <div class="u-margin-bottom-small bloque-producto--body">
              {{ product.body }}
            </div>

            {{ product.variations }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
