{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable

  {{ 'Your order number is @number.'|t({'@number': order_entity.getOrderNumber}) }} <br>
  {{ 'You can view your order on your account page when logged in.'|t }} <br>
 */
#}

  <div class="checkout-complete-message">

      <div class="section-thanks-message">
        <h1 class="u-font-brand u-font-size-h3 u-font-bold u-margin-bottom-medium">Tu pedido se ha enviado correctamente</h1>
        <p class="section-thanks__text">
            {{ 'Puedes ver tu pedido y descargar la factura desde “historial de pedidos” en tu <a href="/user/login">cuenta de cliente</a>. ¿Todavía no eres cliente? <a href="#new-account" class="scroll-to-anchor">crea tu cuenta ahora</a>'|t }}
        </p>
        <p class="section-thanks__num-block">
          <span class="section-thanks__num">
            {{ 'Número de pedido @number.'|t({'@number': order_entity.getOrderNumber}) }}
          </span>
        </p>
        <div class="share-block u-margin-bottom">
        <h2 class="u-font-brand u-font-size-h2 u-font-bold u-margin-bottom-medium">¡Ya casi hemos terminado! <br /> Ayúdanos a compartir</h2>
          <p class="u-margin-bottom">Da un paso más y comparte tu aportación en la lucha contra el cáncer para que todo el munda lo conozca</p>
          {% include directory ~ '/templates/includes/share-redes.html.twig' with {'absolute_url' : absolute_url, 'title' : texto_gracias_twitter} %}
        </div>
      </div>


  {% if payment_instructions %}
    <div class="checkout-complete__payment-instructions">
      <h2>{{ 'Payment instructions'|t }}</h2>
      {{ payment_instructions }}
    </div>
  {% endif %}
</div>



