{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="layout-checkout-form clearfix u-padding-top-large u-padding-bottom-large u-padding-top-huge@tablet u-padding-bottom-huge@tablet u-padding-top-extrahuge@desktop u-padding-bottom-extrahuge@desktop checkout-pago">

    <div class="row">
      <div class="col-12 col-sm-6 col-lg-11 offset-lg-1">

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-5 offset-lg-1 layout-region layout-region-checkout-secondary">
        <h3 class="titulo-resumen">{{ "Order Summary and Payment" | t }}</h3>
        {{ form|without('sidebar', 'commerce_checkout_pane')|without('actions') }}
        <div class="u-padding-top">
          <img class="u-padding-top" src="/{{ directory }}/assets/images/logos-seguros-proceso.png" alt="maestro,visa,mastercard y certificados de seguridad thawte y SSL">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 layout-region layout-region-checkout-main">
        {{ form.sidebar|without('donation_panel')}}
      </div>
    </div>
   </div>

  <div class="layout-region layout-region-checkout-footer">
    {{ form.sidebar.donation_panel }}
  </div>

  <div class="layout-region-checkout-ations u-padding-bottom-large u-padding-bottom-huge@tablet u-padding-bottom-extrahuge@desktop">
    {{ form.actions }}
  </div>

</div>





