{% set image_uri = file_url(content.field_component_parallax_imagen.0['#item'].entity.uri.value) %}

<div{{ attributes.addClass("section--form") }} style="background-image:url({{ image_uri }});top left no-repeat;background-size: cover;">
  <div class="container">
    {{ content.field_component_parallax_titulo }}
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {{ content.field_body }}
      </div>
    </div>
  </div>

  <div class="u-background-transparent u-padding-top-medium u-padding-bottom-medium parallax-email-block">
    <div class="container">
      <div class="col-lg-6 offset-lg-3">
        {{ drupal_entity('webform', 'suscribete') }}
      </div>
    </div>
  </div>
</div>
