<ul class="list--social u-margin-top">
  <li class="list--social__item">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url }}" title="{{ 'Compartir en Facebook'|t }}" class="list--social__link list--social__share-link-facebook js-social-share" rel="nofollow"></a>
  </li>
  <li class="list--social__item">
    <a href="https://twitter.com/intent/tweet?url={{ absolute_url }}&status={{ title }}+{{ absolute_url }}" title="{{ 'Compartir en Twitter'|t }}" class="list--social__link list--social__share-link-twitter js-social-share" rel="nofollow"></a>
  </li>
  <li class="list--social__item">
    <a href="https://plusone.google.com/_/+1/confirm?url={{ absolute_url }}" title="{{ 'Compartir en Google+'|t }}" class="list--social__link list--social__share-link-google" rel="nofollow"></a>
  </li>
</ul>