<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="footer__general u-padding-top-large u-padding-bottom-large u-padding-top-extrahuge@desktop u-padding-bottom-extrahuge@desktop">
            <div class="row">
              <div class="col-md-4">
              <img src="/{{ directory }}/assets/images/logo-negativo.png" alt="{{ 'AECC'|t }}">
              </div>

              <div class="col-md-4">

                <p class="title--footer">
                  {{ 'Servicios centrales'|t }}
                </p>
                {% trans %}
                <p class="subtitle--footer">Madrid</p>
                <p class="u-font-white u-padding-top-small u-padding-bottom-small">C/ Amador de los Ríos 5
                  <br>28010 - Madrid
                  <br>Tel. 91 398 59 00
                  <br>
                  <a href="mailto:tienda@aecc.es" title="enviar email a tienda@aecc.es" class="u-font-brand-color">tienda@aecc.es</a>
                </p>
                {% endtrans %}
              </div>
              <div class="col-md-4">
                <p class="title--footer">
                  {{ 'Acerca de'|t }}
                </p>
                {% if page.footer %}
                  {{ page.footer }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer__social u-padding-top-large u-padding-bottom-large u-padding-top-extrahuge@desktop u-padding-bottom-extrahuge@desktop">
            <p class="title--footer">
              {{ 'Redes sociales'|t }}
            </p>
            <ul class="list--social u-padding-top">
              <li class="list--social__item">
                <a href="https://www.facebook.com/unidoscontraelcancer" target="_self" title="facebook" class="list--social__link list--social__link-facebook"></a>
              </li>
              <li class="list--social__item">
                <a href="https://twitter.com/aecc_es" target="_self" title="twitter" class="list--social__link list--social__link-twitter"></a>
              </li>
              <li class="list--social__item">
                <a href="https://m.youtube.com/user/aecc" target="_self" title="youtube" class="list--social__link list--social__link-youtube"></a>
              </li>
              <li class="list--social__item">
                <a href="https://www.pinterest.es/aecces" target="_self" title="pinterest" class="list--social__link list--social__link-pinterest"></a>
              </li>
            </ul>
            <p class="u-text-center u-font-white u-padding-top u-padding-left u-padding-right">
              {{ 'Nuestra plataforma de pagos es 100% segura y fiable.'|t }}
            </p>
            <div class="cards--footer">
              <img src="/{{ directory }}/assets/images/tarjetas-footer.png" alt="{{ 'maestro/visa/mastercard'|t }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="last-footer u-padding-top-tiny u-padding-bottom-tiny u-padding-top-extrasmall@tablet u-padding-bottom-extrasmall@tablet">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          {% if page.post_footer %}
            {{ page.post_footer }}
          {% endif %}
        </div>
        <div class="col-lg-4">
          <hr class="line u-display-only-tablet-down">
          <p class="copyright u-text-center u-font-white">{{ 'now'|date('Y') }} © {{ 'AECC Asociación Española Contra el Cáncer.'|t }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
