<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16918596-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-16918596-10');
    </script>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes }}>
    <!-- Google Tag Manager (noscript) -->
    <!--<noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-"
              height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>-->
    <!-- End Google Tag Manager (noscript) -->
    <div id="skip">
      <a class="visually-hidden focusable skip-link" href="#content">
        {{ 'Skip to content'|t }}
      </a>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
